@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KittyShop</title>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KittyShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    
    <script type="text/javascript" src="~/js/site.js"></script>
</head>

@{
    var identity = (ClaimsIdentity)User.Identity!;
    //var role = identity.FindFirst(ClaimTypes.Role)!.Value;
    var role = User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault()!.Value;
}

<span class="successToaster d-none">@TempData["successMessage"]</span>
<span class="errorToaster d-none">@TempData["errorMessage"]</span>
<span class="numberOfItemsInCart d-none">@TempData["numberOfItemsInCart"]</span>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @{
                    if (role == "Regular")
                    {
                        <a class="navbar-brand" asp-controller="Shop" asp-action="Index">KittyShop</a>
                    }
                    else
                    {
                        <a class="navbar-brand" asp-controller="Admin" asp-action="Index">KittyShop</a>
                    }
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if (role == "Regular")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="ShoppingCart">
                                        <i class="bi-cart"></i> ShoppingCart
                                        <span class="numberOfItemsBadge d-none"></span>
                                    </a>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ShopItemList">Shop items list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="EditProfile">Edit profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>

</html>
